@import "tailwindcss";

body {
  overflow-x: hidden;
}

.activeEffect {
  position: relative;
}
.activeEffect::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -4px;
  background: #ff1111;
  transition: all 0.5s ease;
}
.activeEffect.active::before {
  width: 100%;
  left: 0;
}
/* clerk account avatar */
.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .cl-avatarBox {
    width: 2.2rem;
    height: 2.2rem;
  }
}
